<!DOCTYPE html>
<html>
  <head>
    <title>CDAX - E-mail Template</title>
  </head>

  <body style="margin: 0; padding: 0; background: #ffffff">
    <div style="margin: 0 auto; background: #ffffff">
      <table
        style="
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100% !important;
          font-size: 16px;
        "
      >
        <tr>
          <td
            style="padding: 48px; background: #23559a; width: 100% !important"
          >
            <img
              src="cid:logo"
              style="width: 113px; height: 38px"
              alt="CDAXForex"
            />
          </td>
        </tr>

        <tr>
          <td align="center" style="font-size: 20px; line-height: 18px">
            <table
              style="
                font-family: arial, sans-serif;
                border-collapse: collapse;
                font-size: 16px;
                max-width: 600px;
              "
            >
              <tr>
                <td valign="top" width="100%" style="padding: 50px 50px 20px">
                  <p style="font-size: 16px; color: #233141">
                    <strong> Transaction request denied </strong>
                  </p>
                  <p style="color: #0f244da3">
                    Request sent at <%= createdAt %>
                  </p>
                </td>
              </tr>
              <tr>
                <td valign="top" width="100%" style="padding: 0px 50px">
                  <p
                    style="
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 24px; /* 150% */
                      letter-spacing: 0.08px;
                      color: #233141;
                    "
                  >
                    The transacton
                    <strong>Reference: <%= reference %></strong> was denied by
                    administrator <strong><%= name %></strong> for the following
                    reason, <strong><%= description %></strong> for more
                    information please contact your administrator in the
                    <strong><%= email %></strong>.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
